@model LoginViewModel
@{
    ViewData["Title"] = "Login";
}

<div dir="rtl">

    @if (ViewData["ErrorMessage"] != null)
    {
        <div class="text-danger float-right" dir="rtl">@ViewData["ErrorMessage"]</div>
        <br />
    }


    <form asp-controller="Account" asp-action="Login" method="post">
        <div asp-validation-summary="ModelOnly"></div>
        <div class="form-group">
            <label asp-for="UserName"  style="margin-right:12px" class="float-right"></label>
            <div class=" col-md-3">
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>

            <label asp-for="Password" style="margin-right:12px" class=" float-right   "></label>

            <div class=" col-md-3 ">
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
        </div>
        <div class="ml-3">
            <button type="submit" class="btn btn-primary btn-success  float-right mr-3">ورود</button>
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}