@model List<register.Models.Questions.ModelQuestion>
@{
    ViewData["Title"] = "ViewDeactivateQuestion";
    int counter = 0;
}


@foreach (var item in Model)
{
    @if (!item.Status)
    {
        counter++;
        <div class="card mb-3 ">
            <div class="card-body">

                <h5 class="card-title">@(item.Quaere)</h5>

                @*<a asp-controller="Question" asp-action="ActiveQuestion"
                    asp-route-id="@(item.Id)" class="btn btn-success ">فعال کردن</a>*@
            </div>
        </div>
    }
}

@if (counter == 0)
{
    <h3>سوالی غیر فعال نیست</h3>
}

